
<router-outlet></router-outlet>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/api.js"></script>


  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.rtl.min.css" integrity="sha512-VNBisELNHh6+nfDjsFXDA6WgXEZm8cfTEcMtfOZdx0XTRoRbr/6Eqb2BjqxF4sNFzdvGIt+WqxKgn0DSfh2kcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    body {
        background-color: #222;
        color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        padding: 0;
    }

    .navbar {
        background-color: #444;
        border-radius: 0;
        margin: 0;
    }

    .navbar .nav-link {
        color: #f5f5f5;
    }

    .navbar .nav-link:hover {
        color: #999;
    }

    h1 img {
        border-radius: 50%;
        background-color: #555;
        padding: 5px;
    }
</style>


